<div class="bar">
  <button mat-icon-button routerLink="/ReportGroup"><mat-icon>arrow_back</mat-icon></button>Report
  <span class="spacer"></span>
  <span>{{id}}</span>
</div>

@if( id == 'new'){
  <div [formGroup]="FG" class="form">
    <mat-form-field class="name-form" appearance="fill">
        <mat-label>Name of Report</mat-label>
        <input matInput formControlName="label" >
    </mat-form-field> 
    <div>  
      <button mat-raised-button routerLink="..">Cancel</button>    
      <button mat-raised-button color="primary" [disabled]="!FG.valid" (click)="onNew()">Submit</button>
    </div>       
  </div>      
}
@else{
  <as-split class="top" direction="horizontal" cdkDropListGroup>
    <as-split-area class="top" [size]="30">
        <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
          <!-- This is the tree node template for leaf nodes -->
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                         [cdkTreeNodeTypeaheadLabel]="node.name">
            <button matIconButton matTreeNodeToggle
                    [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            <div cdkDropList>
              <div class="example-box" cdkDrag [cdkDragData]="node.name">
                <div class="example-custom-drag" *cdkDragPreview matchSize="true">{{node.name}}</div>
                <div class="example-custom-placeholder" *cdkDragPlaceholder>{{node.name}}</div>                 
                {{node.name}} 
              </div>  
            </div>         
          </mat-tree-node>
        </mat-tree>        
    </as-split-area>
    <as-split-area [size]="70">
      <as-split direction="vertical">
        <as-split-area  [size]="60"> 
              <h2>Done</h2>
              <div
                cdkDropList
                [cdkDropListData]="done"
                class="example-list"
                cdkDropListOrientation="horizontal"
                (cdkDropListDropped)="dropTarget($event)" 
              >
                @for (item of done; track item) {
                  <div class="example-box" cdkDrag>{{ item }}</div>
                }
              </div> 
                    
        </as-split-area>
        <as-split-area class="scroll" [size]="40">
          result          
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
}
