<div class="header">
  <b>Join Properties</b>
  <span class="spacer"></span>
  <button mat-button mat-dialog-close>Cancel</button> 
  <button [disabled]="data.rightNode.name.length < 1 || data.rightNode.name.length > 200" mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="onSubmit()">Ok</button>
</div>

<div class="header">
    <span>
      {{data.leftNode.name}}
    </span>
    <span class="spacer"></span>
    <span>
      {{data.rightNode.name}}
    </span>
</div>

    
@for( j of joinsFA.controls; track j ; let i = $index){
  <div class="join-container" [formGroup]="j"> 
      <mat-form-field class="field" appearance="fill" >
        <input #input{{i}}
        type="text"
        placeholder="Pick column"
        matInput
        formControlName="columnName"
        [matAutocomplete]="autoleft"
        (input)="filterLeft(i)"
        (focus)="filterLeft(i)">
        <mat-autocomplete #autoleft="matAutocomplete">
          @for (option of filteredLeftOptions; track option) {
            <mat-option [value]="option.columnName">{{option.columnName}}</mat-option>
          }
        </mat-autocomplete>              
      </mat-form-field>
      <mat-form-field class="comparator">
        <mat-select  formControlName="comparator">
          @for( c of comparisonOptions; track c; let i=$index ){
            <mat-option [value]="c">{{ c }}</mat-option>   
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field class="expression" appearance="fill" >
        <input #input{{i}}
        type="text"
        placeholder="Pick column"
        matInput
        formControlName="exp"
        [matAutocomplete]="auto"
        (input)="filterJoinExp(i)"
        (focus)="filterJoinExp(i)">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of filteredOptions; track option) {
            <mat-option [value]="option.columnName">{{option.columnName}}</mat-option>
          }
        </mat-autocomplete>              
      </mat-form-field>
      <button mat-icon-button (click)="onDeleteJoin(i)"><mat-icon>delete</mat-icon></button>
  </div>    
}

<button mat-button (click)="onAddJoin()">add</button>



 