
<div class="header">
  <span>Comparison Edit</span><span class="spacer"></span><span>{{id}}</span><button *ngIf="comparison" mat-button (click)="onDelete()"><mat-icon>delete</mat-icon></button>
</div> 
<div [formGroup]="FG">
      <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="label" required (change)="firebaseService.onChange($event,'Comparison',id,'label')" required>
      </mat-form-field>
      <div *ngIf="!id">
        <button mat-raised-button (click)="onCancel()">Cancelar</button>     
        <button mat-raised-button color="primary" [disabled]="!FG.valid" (click)="onCreateNew()">Submit</button>
      </div>          
</div>   

<div [style.display]="this.comparison ? 'block' : 'none'">
  <div>Sources</div>
  <mat-grid-list cols="2" rowHeight="5em">
    <mat-grid-tile droppable (onDrop)="onLeftSourceDrop($event)">left:{{leftDataset?.label}}</mat-grid-tile>
    <mat-grid-tile droppable (onDrop)="onRightSourceDrop($event)">right:{{rightDataset?.label}}</mat-grid-tile>
  </mat-grid-list>

  <mat-tab-group>
    <mat-tab label="key">
      <table mat-table #keyports [dataSource]="portsSource" class="mat-elevation-z8">

        <ng-container matColumnDef="idx">
          <th mat-header-cell *matHeaderCellDef>idx</th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}}</td>
        </ng-container>
    
        <ng-container matColumnDef="parent">
          <th mat-header-cell *matHeaderCellDef>parent</th>
          <td mat-cell *matCellDef="let element"> {{element.parentPortName}} {{element.parentPortType}} {{element.parentPortAlias}} </td>
        </ng-container>
      
        <ng-container matColumnDef="left">
          <th mat-header-cell *matHeaderCellDef>left</th>
          <td mat-cell *matCellDef="let element"> {{element.leftPortName}} {{element.leftPortType}} {{element.leftPortAlias}} </td>
        </ng-container>
      
        <ng-container matColumnDef="right">
          <th mat-header-cell *matHeaderCellDef>right</th>
          <td mat-cell *matCellDef="let element"> {{element.rightPortName}} {{element.rightPortType}} {{element.rightPortAlias}} </td>
        </ng-container>
    
        <ng-container matColumnDef="selected">
          <th mat-header-cell *matHeaderCellDef>selected</th>
          <td mat-cell *matCellDef="let element; let i = index;"> i:{{i}} <mat-checkbox [ngModel]="comparison.keyLeftRight[i].isSelected" (change)="firebaseService.onArrayCheckboxChange($event,'Comparison',id,comparison.keyLeftRight,'keyLeftRight', i, 'isSelected')"></mat-checkbox> </td>
        </ng-container>
    
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let idx = dataIndex;"></tr>
      </table>
    </mat-tab>
    <mat-tab label="left">

      <table mat-table #leftports [dataSource]="this.comparison?this.comparison.leftPorts:[]" class="mat-elevation-z8">

        <ng-container matColumnDef="idx">
          <th mat-header-cell *matHeaderCellDef>idx</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}:{{element.type}}</td>
        </ng-container>
      
        <ng-container matColumnDef="alias">
          <th mat-header-cell *matHeaderCellDef>alias</th>
          <td mat-cell *matCellDef="let element">{{element.alias}}</td>
        </ng-container>
    
        <ng-container matColumnDef="isSelected">
          <th mat-header-cell *matHeaderCellDef>selected</th>
          <td mat-cell *matCellDef="let element; let i = index;"> i:{{i}} <mat-checkbox [ngModel]="comparison.leftPorts[i].isSelected" (change)="firebaseService.onArrayCheckboxChange($event,'Comparison',id,comparison.leftPorts,'leftPorts', i, 'isSelected')"></mat-checkbox> </td>
        </ng-container>
    
        
        <tr mat-header-row *matHeaderRowDef="leftDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: leftDisplayedColumns; let idx = dataIndex;"></tr>
      </table>      

    </mat-tab>
    <mat-tab label="right">
      <table mat-table #rightports [dataSource]="this.comparison?this.comparison.rightPorts:[]" class="mat-elevation-z8">

        <ng-container matColumnDef="idx">
          <th mat-header-cell *matHeaderCellDef>idx</th>
          <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}:{{element.type}}</td>
        </ng-container>
      
        <ng-container matColumnDef="alias">
          <th mat-header-cell *matHeaderCellDef>alias</th>
          <td mat-cell *matCellDef="let element">{{element.alias}}</td>
        </ng-container>
    
        <ng-container matColumnDef="isSelected">
          <th mat-header-cell *matHeaderCellDef>selected</th>
          <td mat-cell *matCellDef="let element; let i = index;"> i:{{i}} <mat-checkbox [ngModel]="comparison.rightPorts[i].isSelected" (change)="firebaseService.onArrayCheckboxChange($event,'Comparison',id,comparison.rightPorts,'rightPorts', i, 'isSelected')"></mat-checkbox> </td>
        </ng-container>
    
        
        <tr mat-header-row *matHeaderRowDef="leftDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: leftDisplayedColumns; let idx = dataIndex;"></tr>
      </table>      

    </mat-tab>

  </mat-tab-group>  

  <button mat-raised-button (click)="onExecute()">Execute</button> 
  
</div>
