<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="container" autosize>
  <mat-drawer mode="side" opened>
    <mat-tab-group>
      <mat-tab label="Sources"><app-dataset-tree></app-dataset-tree></mat-tab>
      <mat-tab label="comparison"><app-comparison-tree></app-comparison-tree></mat-tab>
    </mat-tab-group>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>  
