<div class="flexcontainer">
  
<mat-toolbar class="header" color="primary">
  <button [routerLink]="['/']" mat-icon-button><mat-icon>home</mat-icon></button>
  <span class="spacer"></span>
  @if( isLoggedIn() ){
    <button (click)="onLogOut()" mat-button><mat-icon>logout</mat-icon>logout</button>        
  }
  @else{
    <button [routerLink]="['/loginForm']" mat-button><mat-icon>login</mat-icon>login</button>        
  }
  <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="['/connection']" >Connections</button>
    <button mat-menu-item [routerLink]="['/model']" >Models</button>
  </mat-menu>        
</mat-toolbar>

<router-outlet class="outlet"></router-outlet>

</div>