<div class="header">
    <span>ComparisonGroup Edit</span><span class="spacer"></span><span>{{id}}</span><button *ngIf="group" mat-button (click)="onDelete()"><mat-icon>delete</mat-icon></button>
</div>
<div [formGroup]="FG">
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Group name</mat-label>
            <input matInput placeholder="COMPARE_V1" formControlName="label" required (change)="firebaseService.onChange($event, 'ComparisonGroup',id, 'label')">
            <mat-error *ngIf="FG.controls.label.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div *ngIf="!id">
        <button mat-raised-button (click)="onCancel()">Cancelar</button>     
        <button mat-raised-button color="primary" [disabled]="!FG.valid" (click)="onCreateNew()">Submit</button>
      </div>        
</div>  