<div class="ids">
    parentCollection:{{ parentCollection }}
    collection:{{ collection }}
    id:{{ id }}
</div>

<div *ngIf="sqlJupiter" [formGroup]="FG" >
    <div class="header">
        <button mat-raised-button color="primary" [disabled]="submitting" (click)="onExecute()">ExecuteSql</button>
        <mat-form-field class="dataset" appearance="fill">
            <mat-label>connection</mat-label> 
            <mat-select formControlName="connectionName" [value]="sqlJupiter.connectionName" (selectionChange)="onConnectionChange($event)">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let connectionName of connectionNames" [value]="connectionName">{{connectionName}}</mat-option>
            </mat-select>  
        </mat-form-field>          

        <button  [disabled]="submitting" (click)="onExportCsv()"><mat-icon>topic</mat-icon></button>
    </div>    
    <div>
        <!--
        <mat-form-field class="sql" appearance="fill">
            <mat-label>sql</mat-label> 
            <textarea  class="sql" matInput rows="{{rows}}" formControlName="sql" (change)="onSqlChange($event)"></textarea> 
            
        </mat-form-field>
        -->
        <sql-edit formControlName="sql" (valueChange)="onSqlChange($event)"></sql-edit>
    </div>


    <section *ngIf="sqlJupiter.result" class="result-container" >
        <table class="result-table" mat-table [dataSource]="sqlJupiter.result['resultSet']">

        
            <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{col}}">
            <th mat-header-cell *matHeaderCellDef>{{col}} </th>
            <td mat-cell *matCellDef="let element; let i = index;"> 
                <div *ngIf="col=='idx'"> {{i + 1}}</div>
                <div *ngIf="col!='idx'"> {{element[col]}} </div>
                 
            </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table> 
    </section>  
    
</div>  
