.result-container {
    height: 12em;
    overflow: auto;
}

mat-form-field{
    width:90%;
}

sql-edit{
    width: 300;
    height: 300;
}

.result-table {
    width: 100%;
}

.ids{
    color:white;
}

button{
    margin-left: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
    font-size: small;
}

.error_mesage{
    color:red
}


.view {
    margin: auto;
    width: 100%;

}
  
.wrapper {
    position: relative;
    overflow: auto;
    border: 1px solid black;
    white-space: nowrap;
    max-height: 10em;    
}

table tr th:first-child {
    z-index: 11;
}

table tr th {
    position: sticky;
    top: 0;
    z-index: 9;
    background: #fff;
  }

.sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
}

.first-col {
    width: 4em;
    min-width: 3em;
    max-width: 4em;
    left: 0px;
}

