<div>
    parentCollection:{{ parentCollection }}
    collection:{{ collection }}
    id:{{ id }}
</div>
<div class="sql-container" [formGroup]="FG">
    <div>
        <button mat-raised-button color="primary" [disabled]="submitting" (click)="onExecute()">ExecuteSql</button>
    </div>    
    <div>
        <mat-form-field class="sql" appearance="fill">
            <mat-label>sql</mat-label> 
            <textarea class="sql" matInput rows="{{rows}}" maxlength="10000" formControlName="sql" (change)="onSqlChange($event)"></textarea>
        </mat-form-field>
    </div>
    <div class="table-holder">
        <table *ngIf="sqlJupiter && sqlJupiter.result">
            <thead>
                <tr>
                    <th>idx</th>
                    <th *ngFor="let col of sqlJupiter!.result.metadata">
                        {{ col.name }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of sqlJupiter!.result.resultSet; index as i">
                    <td>{{i+1}}</td>
                    <td *ngFor="let col of sqlJupiter!.result.metadata">
                        {{ row[col.name] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>  
