.name-form{
  width:80%;
}


.name{
  text-transform: uppercase;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
  display:block;
  margin: 5px;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-nested-tree-node {
  padding-left: 40px;
  display:block;
  margin: 5px;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 2em;
  background: greenyellow;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.tables-container{
  background-color: coral;
}

table .tree{
  background-color: magenta;
  
}


.transformationGrp{
  background-color: yellowgreen;
}

.gridbody{
  background-color: yellowgreen;
}

.gridheather{
  position: sticky;
  top: 0;
  background-color: bisque;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  left:0;
}

.index_heather{  
  width: 4em;
  min-width: 3em;
  max-width: 4em;
  z-index:0;
  background-color: red;
}

.index-col {
  width: 4em;
  min-width: 3em;
  max-width: 4em;
  z-index: 1;
  background-color: lightblue;
}

.number{
  text-align: right;
}
as-split .top{
  background-color: green;
}
as-split-area .scroll{
  overflow: scroll;
  background-color: grey;
}
.node{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;  
}
.row{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;  
}
.col{
  display:flex;
  flex-direction: column;
}
.transformation{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.transformationSelected{
  background-color: gray;
}

.nodeSelected{
  border:2px solid red;
}