<div class="header">
    <button mat-icon-button routerLink="/connection"><mat-icon>arrow_back</mat-icon></button> 
    <span>Connection Edit</span>
    <span class="spacer"></span>
    @if( id() ){
      <span>{{id()}}</span>
      <button mat-button (click)="onDelete()"><mat-icon>delete</mat-icon></button>
    }
</div>
@if( !id() ){
  <div [formGroup]="FG">
    <mat-form-field appearance="fill">
        <mat-label>Connection name</mat-label>
        <input matInput placeholder="connection name" formControlName="label" required>
        <mat-error>{{getErrorMessage(FG.controls.label)}}</mat-error>
        
    </mat-form-field>

    <div>  
      <button mat-raised-button routerLink="..">Cancelar</button>    
      <button mat-raised-button color="primary" [disabled]="!FG.valid" (click)="onCreateNew()">Continuar</button>
    </div>       
  </div>    
}
@else{
  @if( connection ){
    <div [formGroup]="FG">
      <mat-form-field appearance="fill">
          <mat-label>Connection name</mat-label>
          <input matInput placeholder="connection name" formControlName="label" required (change)="firebaseService.onChange($event, 'Connection' ,id(), 'label')">
          <mat-error>{{getErrorMessage(FG.controls.label)}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Credentials</mat-label>
        <textarea matInput rows="10" formControlName="credentials" (change)="onCredentialsChange($event)"></textarea> 
        <mat-error>{{getErrorMessage(FG.controls.label)}}</mat-error>
      </mat-form-field>        
    </div>  
  }
  @else{
    <mat-spinner></mat-spinner>
  }
}

