.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  
  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }

  td{
    border:solid 1px black
  }

  .StringType{
    min-width:10em;
    max-width:10em;
    border-color: green;
    text-align: left;
  }
  .DecimalType{
    min-width:5em;
    max-width:5em;
    border-color:blue;
    text-align: right;
  }
  .LongType{
    min-width:10em;
    max-width:5em;
    border-color:grey;
    text-align: right;
  }  
 